<div class="ai-events-wrapper">
<div class="d-flex flex-row">
    <div class="p-2">
        <label for="ex1">Date Start</label>
        <input type="text" class="form-control" id="ex1" name="datestart" placeholder="01/01/2001">
    </div>
    <div class="p-2">
        <label for="ex2">Date End</label>
        <input type="text" class="form-control" id="ex2" name="dateend" placeholder="01/31/2001">
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-primary" id="buttonFilter">Filter</button>
    </div>
</div>
<div>
    {{#if highQuality}}
        <a class="btn btn-primary"href="/ai_events">Low Quality</a>
    {{else}}
        <a class="btn btn-primary"href="/ai_events?quality=high">High Quality</a>
    {{/if}}
</div>
{{#each events}}
    {{niceTime}} {{niceDate}} - {{camera}} - {{type}}<BR>
    <!--<PRE>{{text}}</PRE>-->
    <div id="carouselIndicators{{@index}}" class="carousel slide" data-bs-interval="0">
        <div class="carousel-indicators">
            {{#each attachments}}
                <button type="button" data-bs-target="#carouselIndicators{{@../index}}" data-bs-slide-to="{{@index}}" {{#if @index}}{{else}}class="active" aria-current="true"{{/if}} aria-label="Slide {{@index}}"></button>
            {{/each}}
        </div>
        <div class="carousel-inner">
            {{#each attachments}}
                <div class="carousel-item {{#if @index}}{{else}}active{{/if}}">
                <a href="/photo/{{filename}}" target="_blank"><img class="d-block w-100" src="{{#if ../../highQuality}}/photo/{{else}}/photo_thumb/{{/if}}{{filename}}" loading="lazy" class="photo-thumb"></a>
                </div>
            {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators{{@index}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators{{@index}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{{/each}}
</div>
<script>
    const datestart = document.querySelector('input[name="datestart"]');
    const datestartdatepicker = new Datepicker(datestart, {
        buttonClass: 'btn',
        autohide:true,
    }); 
    const dateend = document.querySelector('input[name="dateend"]');
    const dateenddatepicker = new Datepicker(dateend, {
        buttonClass: 'btn',
        autohide:true,
    });
</script>